/* 
main font-family:  Raleway

text colors:

primary white: rgba(255, 255, 255, 1)
primary black: rgba(0, 0, 0, 1)
secondary white: rgba(217, 217, 217, 1)
secondary black: rgba(76, 76, 76, 1)
*/



/* .example{
    display: flex;
    width: 36px;
    height: 36px;
    color: yellow;
}

.example-icon{
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: currentColor;
   
} */

:root {
    --white-theme-color: rgba(255, 255, 255, 1);
    --black-theme-color: rgba(30, 30, 30, 1);
}

*,
::before,
::after{
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p{
    margin: 0;
}

img{
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    padding: 22px 0;
}

.title-accent {
    font-weight: 700;
    display: inline-block;
}

.title-accent::first-letter {
    text-transform: lowercase;
}

/* Header */

.main-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    margin-left: 175px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

.nav-item{
    min-width: fit-content;
}

.nav-link{
    padding: 40px 0;
    display: inline-block;
}

.nav-item:not(:last-child){
    margin-right: 26px;
}

.nav-button{
    display: inline-block;
    margin-left: auto;
    padding: 14px 32px;
    min-width: 175px;
    border-radius: 4px;

    color: var(--white-theme-color);
    background-color: var(--black-theme-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Hero */

.hero{
    padding: 150px 0;
    margin-bottom: 143px;

    background-color: var(--black-theme-color);
    background-image: url(../images/hero1.jpg);
    background-size: cover;
}

.hero-title{
    margin-bottom: 26px;
    max-width: 560px;

    color: var(--white-theme-color);
    font-size: 64px;
    font-weight: 400;
    line-height: 1.18;
    text-transform: capitalize;
}

.hero-text{
    margin-bottom: 46px;
    padding-right: 15px;
    max-width: 560px;

    color: rgba(217, 217, 217, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
}

.hero-button{
    display: inline-block;
    padding: 14px 32px;
    min-width: 275px;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: var(--white-theme-color);
}

/* Why us */

.features{
    margin-bottom: 143px;
}

.features > .container{
    display: flex;
}

.features-title{
    margin-bottom: 28px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;;
}

.features-definition{
    margin-bottom: 16px;

    color: rgba(76, 76, 76, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.19;
}

.features-description{
    color: rgba(76, 76, 76, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
}

.text-box{
    max-width: 500px;
    margin-right: 133px;
}

.list-box{
    padding: 28px 14px;
    flex-grow: 1;

    background-image: url(../images/whyus.webp);
    background-repeat: no-repeat;
    background-position: right;
}

.feature-item:not(:last-child) {
    margin-bottom: 56px;
}

.feature-title{
    display: flex;
}

.feature-title::before{
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(../images/svg/black-mark.svg);
    margin-right: 8px;
}

.feature-title{
    margin-bottom: 20px;

    color: rgba(76, 76, 76, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

.feture-indicator{
    margin-bottom: 12px;

    font-size: 48px;
    line-height: 1.17;
}

.money-indicator{
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.indicator-description{
    color: rgba(76, 76, 76, 1);
    font-size: 16px;
    line-height: 1.19;
}

/* Fields of activity */

.activities-title{
    margin-bottom: 38px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
}

.activity-list {
    display: flex;
    /* align-items: end; */
    /* padding: 40px; */

    color: rgba(217, 217, 217, 1);
    
    font-size: 18px;
    line-height: 1.17;

    background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/trucks1.webp);
    background-color: var(--black-theme-color);

    background-repeat: no-repeat;
    background-size: cover;
}

.activity-item{
    position: relative;
    padding: 280px 40px 40px 40px;
    max-width: 533px;
}

.activity-item:not(:first-child){
    display: flex;
    align-items: end;
    padding-bottom: 100px;
    margin-right: auto;
}

.activity-item:not(:first-child)::before{
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    margin-right: 40px;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.activity{
    color: var(--white-theme-color);
    font-size: 36px;
    font-weight: 400;
}

.activity-description{
    margin-top: 26px;
    margin-bottom: 16px;
}

.activity-description-list{
    margin-bottom: 26px;
}

.activity-description-list > li{
    display: flex;
}

.activity-description-list>li:not(:last-child){
    margin-bottom: 12px;
}

.activity-description-list>li::before{
    content:"";
    width: 18px;
    height: 18px;
    background-image: url(../images/svg/white-mark.svg);

    margin-right: 12px;
}

.activity-link{
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;

    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: var(--white-theme-color);
}

/* Our services */

.services{
    padding: 120px 0;

    background-color: rgba(247, 247, 247, 1);
}

.services-title{
    margin-bottom: 48px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
}

.services-title > .title-accent::first-letter{
    text-transform: uppercase;
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -28px;

    color: rgba(76, 76, 76, 1);
    font-size: 18px;
    line-height: 1.17;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    width: calc((100% - 28px) / 2);
    margin-bottom: 28px;
    padding: 46px 0 46px 46px;
}

.service-item:nth-child(2n+1){
    margin-right: 28px;
}

.service{
    margin: 26px 0;

    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.17;
}

.service-description-list{
    margin-bottom: 26px;
    padding-right: 40px;
}

.service-description-list-item{
    display: flex;
    
}

.service-description-list-item::before{
    display: block;
    content: "";
    min-width: 18px;
    height: 18px;
    background-image: url(../images/svg/gray-mark.svg);
    background-size: cover;
    margin-right: 12px;
    
}

.service-description-list-item:not(:last-child){
    margin-bottom: 12px;
}

.service-link {
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;

    background-color: rgba(0, 0, 0, 1);
    color: var(--white-theme-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

.service-item.black{
    background-color: var(--black-theme-color);
    color: rgba(217, 217, 217, 1);

    background-image: url(../images/service-black1.webp);
}

.service-item.black li::before{
    background-image: url(../images/svg/white-mark.svg);
}

.service.black{
    color: var(--white-theme-color);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.17;
}

.service-link.black{
    background-color: var(--white-theme-color);
    color:  rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Stories */

.stories{
    padding: 120px 0 120px 0;
    background-color: var(--black-theme-color);

    color: var(--white-theme-color);
}

.stories-title{
    text-align: center;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;

    margin-bottom: 60px;
}

.stories-list{
    display: flex;

    color: rgba(217, 217, 217, 0.2);
    font-size: 24px;
    line-height: 1.17;
}

.story-item{
    position: relative;
}

.story-item::before,
.story-item::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.story-item::before{
    position: absolute;
    top: 0;
    left: 0;
}

.story-item::after{
    position: absolute;
    bottom: 0;
    left: 0;
}

.story-item:not(:last-child){
    margin-right: 26px;
}

.story-item:hover{
    color: rgba(217, 217, 217, 1);
    cursor: pointer;
}

.story-item:hover::after,
.story-item:hover::before{
    background-color: rgba(217, 217, 217, 1);
}

.story{
    padding: 27px 13px;
}

.story-text{
    margin-bottom: 28px;
}

.story-author{
    font-size: 18px;
    line-height: 1.17;

    margin-bottom: 10px;
}

.author-company{
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
}

.slider-nav{
    display: flex;
    justify-content: center;
    margin-top: 47px;
}

.slider-button{
    padding: 0;
    width: 32px;
    height: 32px;
    border: 0;
    background-color: inherit;
}

.slider-button:hover .slider-button-icon{
    fill: rgba(217, 217, 217, 1);
    cursor: pointer;
}

.slider-button:not(:last-child){
    margin-right: 28px;
}

.slider-button-icon{
    display: block;
    width: 100%;
    height: 100%;
    fill: rgba(217, 217, 217, 0.2);
}

/* News */

.news{
    padding: 120px 0;
}

.news-title{
    margin-bottom: 48px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
}

.news-title .title-accent::first-letter{
    text-transform: uppercase;
}

.news-list{
    display: flex;
}

.news-item:not(:last-child){
    margin-right: 28px;
}

.news-figure {
    margin-bottom: 16px;
    padding-bottom: 5px;
}

.news-figure::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.news-poster {
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.news-sign {
    color: rgba(76, 76, 76, 1);
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
}

.news-headline{
    margin-bottom: 8px;

    font-size: 24px;
    font-weight: 400;
    line-height: 1.17;
}

.news-preview{
    margin-bottom: 16px;

    color: rgba(76, 76, 76, 1);
    font-size: 14px;
    line-height: 1.14;
}

.news-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration-line: underline;
    text-transform: uppercase;
}

/* Join us */
.join-section{
    padding: 120px 0;

    background-color: var(--black-theme-color);

    background-image: url(../images/schedule1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-centered{
    padding: 0 82px;
    margin: 0 auto;
    max-width: 708px;
    text-align: center;
}

.footer-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
}

.join-title{
    margin-bottom: 26px;

    color: var(--white-theme-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
}

.join-title .title-accent{
    display: inline;
}

.join-title .title-accent::first-letter{
    text-transform: uppercase;
}

.join-call{
    display: inline-block;
    margin-bottom: 46px;

    color: rgba(217, 217, 217, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
}

.join-button{
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;

    background-color: var(--white-theme-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Footer */

.footer{
    padding-top: 68px;

    background-color: var(--black-theme-color);
}

.footer > .container{
    display: flex;
    justify-content: space-between;
}

.footer-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-link-item{
    margin-right: 18px;
}

.social-link-item:hover .link-item,
.social-link-item:focus .link-item{
    cursor: pointer;
    fill: black;
    stroke: antiquewhite;
}

.link-item{
    display: block;
    width: 26px;
    height: 26px;
    fill: #D9D9D9;
}

.footer-nav{
    display: flex;
}

.footer-nav-list{
    margin-right: 188px;

    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

.footer-list-item:not(:last-child){
    margin-bottom: 28px;
}

.social-link-list{
    display: flex;

}

.adress-list{
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.adress-list > .footer-list-item{
    display: flex;
}

.footer-list-item:hover,
.footer-list-item:focus{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.adress-icon{
    display: block;
    width: 19px;
    height: 19px;
    fill: currentColor;
    margin-right: 8px;
}

.copyrights{
    position: relative;

    padding: 24px 0;
    margin-top: 68px;

    color: rgba(217, 217, 217, 1);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}

.copyrights::before{
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}


/* Services page */

.services-hero{
    padding-top: 160px;
    padding-bottom: 250px;

    background-color: var(--black-theme-color);
}

.services-hero .hero-title{
    font-weight: 700;
}

.service-set{
    display: flex;
    position: relative;
    height: 500px;
    padding: 20px 0;
}

.set-item-descr{
    position: absolute;
    top: 60px;
    left: 0;

    display: none;
}

.set-item:hover .set-item-descr{
    display: block;
    /* color: red; */
}

/* Industries page */

/* Industries Hero */

.industries-hero{
    background-color: var(--black-theme-color);
    padding: 161px 0 162px 0;

    background-image: url(../images/indhero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.industries-hero .hero-title{
    margin: 0;
    font-weight: 700;
    max-width: 100%;
}

/* Transportation */

.industry{
    padding: 120px 0;
}

.industry-descr{
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.descr-text{
    margin-right: 110px;
    margin-bottom: -16px;
}

.ind-title{
    margin-bottom: 28px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
}

.ind-title > .title-accent::first-letter{
    text-transform: uppercase;
}

.options-text{
    margin-bottom: 28px;

    color: rgba(76, 76, 76, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
}

.options-list{
    margin-bottom: 28px;

    color: rgba(76, 76, 76, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
}

.option-item{
    display: flex;
    align-items: center;
}

.option-item:not(:last-child){
    margin-bottom: 16px;
}

.option-item:before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/svg/gray-mark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 12px;
}

.ind-text{

    color: rgba(76, 76, 76, 1);
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.industry-benefits{
    margin-bottom: 48px;

    color: rgba(76, 76, 76, 1);
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
}

.benefits-title{
    margin-bottom: 26px;

    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
}

.benefits-title > .title-accent::first-letter{
    text-transform: uppercase;
}

.benefits-text{
    max-width: 960px;
    margin: 0 auto 48px auto;
}

.benefits-list{
    display: flex;
    margin-right: -49px;
}

.benefits-item{
    flex-basis: calc(100% / 3 - 49px);
    margin-right: 49px;
}

.benefits-icon{
    width: 64px;
    height: 64px;
    margin-bottom: 26px;
    /* background-color: red; */
}

.benefit-title{
    margin-bottom: 28px;

    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.18;
}

.benefit-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
}

.apply-btn{
    display: block;
    padding: 14px 32px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    max-width: fit-content;
    margin: 0 auto;

    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    text-transform: uppercase;
}

/* IT */

.it-industry{
    background-color: rgba(247, 247, 247, 1);;
}

.it-industry .benefits-list{
    padding: 0 95px;
}

.it-industry .benefits-item{
    flex-basis: calc(100% / 2 - 49px);
}

/* WhyUs page */

.whyus-hero{
    background-color: var(--black-theme-color);
    padding: 160px 0;
    margin-bottom: 143px;
}

.whyus-hero .hero-title{
    margin: 0;
    font-weight: 700;
    max-width: 100%;
}

/* Resourses page */

/* Resourses Hero */

.res-hero{
    padding: 160px 0;
    background-color: var(--black-theme-color);
}

.res-hero .hero-title{
    font-weight: 700;
}

/* Our rsourses */

.res-set{
    padding: 120px 0;
}

.res-list{
    display: flex;
    flex-wrap: wrap;

    margin-right: -28px;
   
}

.res-item{
    flex-basis: calc(100% / 3 - 28px);
    margin-right: 28px;
    margin-bottom: 58px;
}

.more-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    padding: 14px 32px;
    background-color: black;
    border-radius: 4px;

    text-transform: uppercase;
    color: var(--white-theme-color);
    font-weight: 500;
}
