/* 
main font-family:  Raleway

text colors:

primary white: rgba(255, 255, 255, 1)
primary black: rgba(0, 0, 0, 1)
secondary white: rgba(217, 217, 217, 1)
secondary black: rgba(76, 76, 76, 1)
*/

:root {
    --white-theme-color: rgba(255, 255, 255, 1);
    --black-theme-color: rgba(30, 30, 30, 1);
}

*,
::before,
::after{
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p{
    margin: 0;
}

img{
    display: block;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    padding: 22px 0;
}

.title-accent {
    font-weight: 700;
    display: inline-block;
}

.title-accent::first-letter {
    text-transform: lowercase;
}

/* Header */

.main-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    margin-left: 175px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

.nav-item{
    min-width: fit-content;
}

.nav-link{
    padding: 40px 0;
    display: inline-block;
}

.nav-item:not(:last-child){
    margin-right: 26px;
}

.nav-button{
    display: inline-block;
    margin-left: auto;
    padding: 14px 32px;
    min-width: 175px;
    border-radius: 4px;

    color: var(--white-theme-color);
    background-color: var(--black-theme-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Hero */

.hero{
    padding: 150px 0;
    margin-bottom: 143px;

    background-color: var(--black-theme-color);
    background-image: url(../images/hero1.jpg);
    background-size: cover;
}

.hero-title{
    margin-bottom: 26px;
    max-width: 560px;

    color: var(--white-theme-color);
    font-size: 64px;
    font-weight: 400;
    line-height: 1.18;
    text-align: left;
    text-transform: capitalize;
}

.hero-text{
    margin-bottom: 46px;
    padding-right: 15px;
    max-width: 560px;

    color: rgba(217, 217, 217, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
}

.hero-button{
    display: inline-block;
    padding: 14px 32px;
    min-width: 275px;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: var(--white-theme-color);
}

/* Why us */

.features{
    margin-bottom: 143px;
}

.features > .container{
    display: flex;
}

.features-title{
    margin-bottom: 28px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;;
}

.features-definition{
    margin-bottom: 16px;

    color: rgba(76, 76, 76, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.19;
}

.features-description{
    color: rgba(76, 76, 76, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
}

.text-box{
    max-width: 500px;
    margin-right: 133px;
}

.list-box{
    padding: 28px 14px;
    flex-grow: 1;

    background-image: url(../images/whyus.webp);
    background-repeat: no-repeat;
    background-position: right;
}

.feature-item:not(:last-child){
    margin-bottom: 56px;
}

.feature-title{
    margin-bottom: 20px;

    color: rgba(76, 76, 76, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

.feture-indicator{
    margin-bottom: 12px;

    font-size: 48px;
    line-height: 1.17;
}

.money-indicator{
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.indicator-description{
    color: rgba(76, 76, 76, 1);
    font-size: 16px;
    line-height: 1.19;
}

/* Fields of activity */

.activities{
    /* background-image: url(../images/trucks1.webp);
    background-repeat: no-repeat;
    background-size: cover; */
}

.activities-title{
    margin-bottom: 38px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
}

.activity-list {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 314px 40px 40px 40px;

    color: rgba(217, 217, 217, 1);
    
    font-size: 18px;
    line-height: 1.17;

    background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/trucks1.webp);
    background-color: var(--black-theme-color);

    background-repeat: no-repeat;
    background-size: cover;
}

.activity-item{
    min-width: 500px;
    padding: 0;
}

.activity-item:not(:first-child){
    padding-bottom: 34px;
    padding-left: 40px;
    border-left: solid rgba(255, 255, 255, 0.25);
}

.activity{
    margin-bottom: 26px;

    color: var(--white-theme-color);
    font-size: 36px;
    font-weight: 400;
}

.activity-description{
    margin-bottom: 16px;
}

.activity-description-list{
    margin-bottom: 26px;
}

.activity-link{
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;

    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: var(--white-theme-color);
}

/* Our services */

.services{
    padding: 120px 0;

    background-color: rgba(247, 247, 247, 1);
}

.services-title{
    margin-bottom: 48px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
}

.services-title > .title-accent::first-letter{
    text-transform: uppercase;
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -28px;

    color: rgba(76, 76, 76, 1);
    font-size: 18px;
    line-height: 1.17;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    width: calc((100% - 28px) / 2);
    margin-bottom: 28px;
    padding: 46px 0 46px 46px;
}

.service-item:nth-child(2n+1){
    margin-right: 28px;
}

.service{
    margin: 26px 0;

    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.17;
}

.service-description-list{
    margin-bottom: 26px;
}

.service-description-list-item:not(:last-child){
    margin-bottom: 12px;
}

.service-link {
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;

    background-color: rgba(0, 0, 0, 1);
    color: var(--white-theme-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

.service-item.black{
    background-color: var(--black-theme-color);
    color: rgba(217, 217, 217, 1);

    background-image: url(../images/service-black1.webp);
}

.service.black{
    color: var(--white-theme-color);
    font-size: 36px;
    font-weight: 400;
    line-height: 1.17;
}

.service-link.black{
    background-color: var(--white-theme-color);
    color:  rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

/* News */

.news{
    padding: 120px 0;
}

.news-title{
    margin-bottom: 48px;

    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
}

.news-title .title-accent::first-letter{
    text-transform: uppercase;
}

.news-list{
    display: flex;
}

.news-item:not(:last-child){
    margin-right: 28px;
}

.news-figure {
    margin-bottom: 22px;
}

.news-poster {
    margin-bottom: 20px;
}

.news-sign {
    color: rgba(76, 76, 76, 1);
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
}

.news-headline{
    margin-bottom: 8px;

    font-size: 24px;
    font-weight: 400;
    line-height: 1.17;
}

.news-preview{
    margin-bottom: 16px;

    color: rgba(76, 76, 76, 1);
    font-size: 14px;
    line-height: 1.14;
}

.news-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration-line: underline;
    text-transform: uppercase;
}

/* Join us */
.join-section{
    padding: 120px 0;

    background-color: var(--black-theme-color);

    background-image: url(../images/schedule1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-centered{
    padding: 0 82px;
    margin: 0 auto;
    max-width: 708px;
    text-align: center;
}

.join-title{
    margin-bottom: 26px;

    color: var(--white-theme-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
}

.join-title .title-accent{
    display: inline;
}

.join-title .title-accent::first-letter{
    text-transform: uppercase;
}

.join-call{
    display: inline-block;
    margin-bottom: 46px;

    color: rgba(217, 217, 217, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
}

.join-button{
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;

    background-color: var(--white-theme-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Footer */

.footer{
    padding-top: 68px;

    background-color: var(--black-theme-color);
}

.footer > .container{
    display: flex;
    justify-content: space-between;
}

.footer-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-link-item{
    margin-right: 18px;
}

.footer-nav{
    display: flex;
}

.footer-nav-list{
    margin-right: 188px;

    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

.footer-list-item:not(:last-child){
    margin-bottom: 28px;
}

.social-link-list{
    display: flex;

}

.adress-list{
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.copyrights{
    padding: 24px 0;
    margin-top: 68px;

    color: rgba(217, 217, 217, 1);
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}