.contact-hero {
    padding: 160px 0 267px 0;
    background-color: var(--black-theme-color);
    color: var(--white-theme-color);
}

.contact-title {
    margin-bottom: 26px;

    font-size: 64px;
    line-height: 1.17;
    text-align: center;
}

.contact-text {
    max-width: 545px;
    margin: 0 auto;

    color: rgba(217, 217, 217, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
}