.industries-hero {
    background-color: var(--black-theme-color);
    padding: 161px 0 162px 0;

    background-image: url(../../images/indhero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.industries-hero .hero-title {
    margin: 0;
    font-weight: 700;
    max-width: 100%;
}