.whyus-hero {
    background-color: var(--black-theme-color);
    background-image: url(../../images/whyus-hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 162px 0;
    margin-bottom: 143px;
}

.whyus-hero .hero-title {
    margin: 0;
    font-weight: 700;
    max-width: 100%;
}

.whyus-feauters {
    margin-bottom: 16px;
}

.whyus-list {
    background-image: url(../../images/whyus-page-section1.webp);
}